<main xmlns:th="http://www.thymeleaf.org" th:fragment="fragment">
    <div class="card">
        <div class="card-body p-3">
            <a class="category" th:href="@{./}">Products</a>
            <a class="arrow" th:href="@{./}">></a> <span id="headerProductName">Product name</span>
        </div>
    </div>

    <div class="card">
        <div class="card-body info-card container-fluid">
            <div class="row">
                <div class="col-md-4 info p-0">
                    <ul class="list-group info" style="font-size: 14px;">
                        <li class="list-group-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcL4PMFvs2qwNXNTtLOgAQsKTvdGF8kTgxRL19HFpBCCIstmC"
                                 alt="Company logo" class="logo-small" id="companyLogo">
                            <span id="companyName">Company name</span>
                        </li>
                        <li class="list-group-item">
                            <span id="productName">Product name</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span id="warehouseName">Warehouse name</span>
                            <span id="addedDate">06-01-1998</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 edit p-0 borders">
                    <h3>Edit</h3>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-4 photo p-0">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51ucIXFr%2BHL.jpg" alt="Product photo"
                         id="productPhoto" class="product-photo">
                </div>
            </div>
        </div>
    </div>

    <input id="entityId" type="hidden" th:value="${entityId}">
</main>