<main xmlns:th="http://www.thymeleaf.org" th:fragment="fragment">
    <div class="card">
        <div class="card-body p-3">
            <a class="category" th:href="@{./}">Products</a>
            <a class="arrow" th:href="@{./}">></a> <span id="headerProductName"></span>
        </div>
    </div>

    <div class="card">
        <div class="card-body info-card container-fluid">
            <div class="row">
                <div class="col-md-4 info p-0">
                    <ul class="list-group info" style="font-size: 14px;">
                        <li class="list-group-item">
                            <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"
                                 alt="Company logo" class="logo-small" id="companyLogo">
                            <span id="companyName"></span>
                        </li>
                        <li class="list-group-item">
                            <span id="productName"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span id="warehouseName"></span>
                            <span id="addedDate"></span>
                        </li>
                        <li class="list-group-item">
                            <span id="productDescription"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 edit p-0 borders">
                    <h3>Edit</h3>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-4 photo p-0">
                    <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" alt="Product photo"
                         id="productPhoto" class="product-photo">
                </div>
            </div>
        </div>
    </div>

    <div class="cards-container" id="descriptionCards">
    </div>

    <input id="entityId" type="hidden" th:value="${entityId}">

    <link rel="stylesheet" th:href="${cssDetailsFileURL}">
</main>