.main {
    background: url("/assets/img/main-bg-opacity.png");
    background-size: cover;
    min-height: 500px;
}

.main__greetings {
    height: 100%;
    text-align: center;
    background: #ffffff4d;
    position: relative;
    top: 160px;
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    color: #000;
}

.main__greetings_header {
    font-size: 36px;
}

.main__greetings_text {
    font-size: 23px;
    font-weight: 400;
}