<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org"
        class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Warehouse Management</h5>
                <p>This application provides you a comprehensive view on warehouses'
                    structure, management capabilities and a lot of other helpful
                    stuff.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Sections</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/warehouse/companies">Companies</a>
                    </li>
                    <li>
                        <a href="/warehouse/warehouses">Warehouses</a>
                    </li>
                    <li>
                        <a href="/warehouse/products">Products</a>
                    </li>
                    <li>
                        <a href="/warehouse/employees">Employees</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Development tools</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://spring.io/">Backend</a>
                    </li>
                    <li>
                        <a href="http://jquery.com/">JS library</a>
                    </li>
                    <li>
                        <a href="https://www.thymeleaf.org">Template Engine</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://vk.com"> Mankevich Denis - <strong>Developer</strong></a>
    </div>
</footer>
